<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathsOperations" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MathLibrary/MathOperations/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMathsOperations"
                contract="ServiceMath.IMathsOperations" name="BasicHttpBinding_IMathsOperations" />
        </client>
    </system.serviceModel>
</configuration>